body {
    background: #aec4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastrar {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 30px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
}